/* Page header */

.page-header {
  width: 100%;
  height: 11rem;
  background-color: #e4f8ee;
  border-top: 0.4rem solid $color-blue-magenta;
}

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-header img {
  height: 5.25rem;
  width: 19.5rem;
}
